body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding: 0px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  width: 100vw;
  margin: 0px;
}

.card {
  background-color: whitesmoke;
  border: 0.3rem solid black;
  border-radius: 30px;
  width: 23vw;
  min-height: 25vh;
  margin: 1rem;
  align-items: center;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0.5rem 0.3rem 0.2rem rgb(21, 22, 22);
  overflow: hidden;
}

.header-container {
  margin-bottom: 3vh;
  text-align: center;
  border-bottom: 5px solid black;
  padding: 2.5rem 10rem;
  background-color: #Ffd700;
  position: relative;
}
  
.selection {
  margin: auto;
  font-size: medium;
  justify-content: center;
}

.food-btn{
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.buttons {
  position: absolute;
  top: 12vh;
  left: 0.5vw;
}

.menu {
  position: absolute;
  left: 0.8vw;
  top: 8.5vh;
}

img{
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 1px;
  scale: 0.8;
}

.selection {
  margin-left: auto;
  margin-right: auto;
  display: table;
}
